section.section.go_curse
	.go_curse__bg_img_w
		img(src="images/bg-shape-all.svg", alt="bg image").go_curse__bg_img

	.section_in.go_curse__in
		.go_curse__row
			.go_curse__col.go_curse__col--info_mod
				.go_curse__info
					h2.go_curse__title Lorem ipsum dolor sit amet consectetur
					.go_curse__descr Lorem ipsum dolor sit amet consectetur Eget non quam vitae dictum egestas dignissim enim leo
					.go_curse__btn_w
						a(href="#").btn_3.go_curse__btn
							span.btn_title Перейти к курсам
							span.btn_icon
								+icon('play', 'icon--size_mod')

			.go_curse__col.go_curse__col--img_mod
				+picture({
					img: `learning.png`,
					class: 'go_curse__img_w',
					img_class: 'go_curse__img',
					alt: 'some image',
				})