include ../templates/mixins/m-accordion

-
	listMob = [
		{
			title: 'Диагностические сканеры',
			descr: `
			<ul class='mobile_menu__catalog_list'>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>АВТОСКАНЕРЫ LAUNCH</a>
					<ul class='mobile_menu__catalog_list'>
						<li class='mobile_menu__catalog_list_item'>
							<a href="#" class='mobile_menu__catalog_list_item_link'>Готовые комплекты с планшетом</a>
						</li>
						<li class='mobile_menu__catalog_list_item'>
							<a href="#" class='mobile_menu__catalog_list_item_link'>Сканеры</a>
						</li>
						<li class='mobile_menu__catalog_list_item'>
							<a href="#" class='mobile_menu__catalog_list_item_link'>Система TMPS</a>
						</li>
					</ul>
				</li>
			</ul>

			<ul class='mobile_menu__catalog_list'>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Переходники на нестандартные размеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Жесткие диски с софтом</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Мультимарочные автосканеры (грузовые)'</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Диагностическое ПО и обновления'</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Мультимарочные автосканеры (легковые)'</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Марочные диагностические адаптеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Дилерские автосканеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Мотор-тестеры, осциллографы</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Готовые диагностические комплекты</a>
				</li>
			</ul>
			`,

			icon: 'arrow-down-2'
		},
		{
			title: 'Оборудование для чип-тюнинга',
			descr: `
			<ul class='mobile_menu__catalog_list'>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Переходники на нестандартные размеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Жесткие диски с софтом</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Мультимарочные автосканеры (грузовые)'</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Диагностическое ПО и обновления'</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Мультимарочные автосканеры (легковые)'</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Марочные диагностические адаптеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Дилерские автосканеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Мотор-тестеры, осциллографы</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Готовые диагностические комплекты</a>
				</li>
			</ul>
			`,

			icon: 'arrow-down-2'
		},
		{
			title: 'Все для автоключей',
			descr: `
			<ul class='mobile_menu__catalog_list'>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Переходники на нестандартные размеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Жесткие диски с софтом</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Мультимарочные автосканеры (грузовые)'</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Диагностическое ПО и обновления'</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Мультимарочные автосканеры (легковые)'</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Марочные диагностические адаптеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Дилерские автосканеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Мотор-тестеры, осциллографы</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Готовые диагностические комплекты</a>
				</li>
			</ul>
			`,

			icon: 'arrow-down-2'
		},
		{
			title: 'Толщинометры',
			descr: `
			<ul class='mobile_menu__catalog_list'>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Переходники на нестандартные размеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Жесткие диски с софтом</a>
				</li>
			</ul>
			`,

			icon: 'arrow-down-2'
		},
		{
			title: 'Эндоскопы',
			descr: `
			<ul class='mobile_menu__catalog_list'>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Переходники на нестандартные размеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Жесткие диски с софтом</a>
				</li>
			</ul>
			`,

			icon: 'arrow-down-2'
		},
		{
			title: 'Оборудование для корректировки одометров',
			descr: `
			<ul class='mobile_menu__catalog_list'>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Переходники на нестандартные размеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Жесткие диски с софтом</a>
				</li>
			</ul>
			`,

			icon: 'arrow-down-2'
		},
		{
			title: 'Очистка форсунок',
			descr: `
			<ul class='mobile_menu__catalog_list'>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Переходники на нестандартные размеры</a>
				</li>
				<li class='mobile_menu__catalog_list_item'>
					<a href="#" class='mobile_menu__catalog_list_item_link'>Жесткие диски с софтом</a>
				</li>
			</ul>
			`,

			icon: 'arrow-down-2'
		},
	],

	listNav = [
		'Обучающие курсы',
		'Видеообзоры',
		'Видеоотзывы',
		'Гарантии',
		'Акции',
		'Статьи',
		'Поиск по товарам',
		'Контакты'
		]

.mobile_menu
	.mobile_menu__in
		button.header__menu_trigger.header__menu_trigger--mobile_mod.js-header-menu-trigger(type="button" aria-label="Toggle menu")
			span
		ul.header__control
			li.header__control_item.header__control_item--search_mod
				form.header__control_search_form
					.header__control_search
						+form_input({
							placeholder: 'Введите название товара...',
							id: 'header-search',
							type: 'search',
							block_class:'form_input header__search_w',
							class: 'form_input__element header__search'
						})
						button(type="submit" aria-lebel="search button").header__search_btn
							+icon('search', 'icon--size_mod')

			li.header__control_item.header__control_item--phone_mod
				a(href="#").header__control_phone +7 (989) 261-39-83
			li.header__control_item.header__control_item--location_mod
				.header__control_location_dropdown.js-locatio-dropdown
					button(type="button").header__control_location.btn_1
						span.header__control_location_icon
							+icon('mark', 'icon--size_mod')
						span.header__control_location_title Москва
						span.header__control_location_arrow_icon
							+icon('arrow-down', 'icon--size_mod')
					ul.header__control_location_list
						each item in ['Москва', 'Санкт-Петербург', 'Ростов', 'Краснодар', 'Севастополь', 'Калининград']
							li.header__control_location_item
								a(href="#").header__control_location_item_link= item

			li.header__control_item.header__control_item--whatsapp_mod
				a(href="#").header__control_whatsapp.btn_1
					span.header__control_whatsapp_icon
						+icon('whatsapp', 'icon--size_mod')
					span.header__control_whatsapp_title Написать в WhatsApp

		.mobile_menu__catalog_list_w
			ul.mobile_menu__nav_list
				each item in listNav
					li.mobile_menu__nav_item
						a(href="#").mobile_menu__nav_link= item

		.mobile_menu__catalog_list_w
			+accordion(listMob, '', 'mobile_menu__dropdown')
