@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//color mixins:
@mixin btn_style_red {
	font-weight: 700;
	color: $white;
	background-color: $red;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: darken($red, 15%);
	}
}

@mixin btn_style_black {
	font-weight: 700;
	color: $white;
	background-color: transparent;
	border: 1px solid $white;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: darken($red, 15%);
	}
}

@mixin btn_style_border_red {
	font-weight: 700;
	color: $black_2;
	background-color: $white;
	border: 1px solid $red;
	transition: background-color ease 0.3s, color ease 0.3s;

	@include st_btn;

	&:hover {
		background-color: darken($red, 15%);
		color: $white;
	}
}

@mixin btn_style_border_gray {
	font-weight: 700;
	color: $gray_2;
	background-color: $white;
	border: 1px solid $gray_2;
	transition: background-color ease 0.3s, color ease 0.3s, border-color ease 0.3s;

	@include st_btn;

	&:hover {
		background-color: darken($red, 15%);
		color: $white;
		border-color: darken($red, 15%);
	}
}

@mixin btn_style_red_gradient {
	font-weight: 700;
	color: $white;
	// background-color: $red;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #f43b3b 0%, #b7141e 51%, $red 100%);
	transition: background ease 0.3s;

	@include st_btn;

	&:hover {
		background-position: bottom center;
	}
}

//size mixins:
@mixin btn_size_normal {
	height: 5rem;
	padding: 0 2rem;

	line-height: 5rem;
	font-size: 1.5rem;

	border-radius: 2.5rem;
}

@mixin btn_size_l {
	height: 6rem;
	padding: 0 2rem;

	line-height: 6rem;
	font-size: 1.5rem;

	border-radius: 3rem;
}
