.about {
	color: $white;
}

.about__bg_img_w {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.about__bg_img {
	@include cover_img;
}

.about__in {
	position: relative;
	z-index: 1;
}

.about__row {
	padding: 3rem 0;

	@include bp($point_1, min) {
		@include flex_block(row, wrap, flex-start, center, center);
	}
	@include bp($point_1 - 1) {
		@include flex_block(column, wrap, flex-start, center, center);
	}
}

.about__col {
	@include bp($point_2, min) {
		width: 50%;
	}
	@include bp($point_3) {
		width: 100%;
	}

	&.about__col--info_mod {
		@include bp($point_1, min) {
			padding: 5rem 4rem 6rem 7rem;
		}
		@include bp($point_1 - 1) {
			position: relative;
			padding: 4rem 3rem 4rem;
		}

		@include bp($point_1, $point_2) {
			width: 80%;
		}

		&:after {
			position: absolute;

			left: 0;
			z-index: 1;

			width: 100%;

			content: '';

			border-radius: 3rem;
			background: rgba(250, 250, 250, 0.05);
			box-shadow: 0px 4px 7rem 0px rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(17.5px);

			@include bp($point_1, min) {
				top: 15%;
				height: 70%;
			}
			@include bp($point_1 - 1) {
				top: 0%;
				height: 100%;
			}
		}
	}

	&.about__col--img_mod {
		position: relative;
		z-index: 3;

		@include bp($point_1, $point_2) {
			margin-right: 11rem;
		}

		@include bp($point_1 - 1) {
			margin-bottom: 3rem;
		}
	}
}

.about__image_w {
	position: relative;
	z-index: 1;

	display: block;
	width: 100%;
	height: 100%;

	@include bp(1520px) {
		font-size: calc(100vw / 1520 * 10);
	}

	@include bp($point_4) {
		font-size: calc(100vw / 1520 * 15);
	}

	@include bp($point_3) {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
}

.about__cover_img_play_w {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	display: block;

	border-radius: 1.5em;
	overflow: hidden;
	box-shadow: 0px 0px 0.5rem 0px rgba($red, 0);
	transition: box-shadow ease 0.3s;

	@include bp($point_2, min) {
		width: 7.4em;
		height: 5.4em;
		margin: -2.5em 0 0em -2.4em;
	}
	@include bp($point_3) {
		width: 10.4em;
		height: 7.4em;
		margin: -3.5em 0 0em -4.4em;
	}

	.about__cover_img_w:hover & {
		box-shadow: 0px 0px 1.5rem 0px rgba($red, 0.75);
	}

	img {
		@include contain_img;
	}
}

.about__col_img_w {
	display: block;

	width: 83.1em;
	height: 52.6em;

	@include bp($point_3) {
		margin: 0 auto;
	}
}

.about__cover_img_w {
	position: absolute;

	top: 50%;
	left: 50%;

	width: 63em;
	height: 38.8em;

	@include bp($point_2, min) {
		margin: -23.5em 0 0em -25.4em;
	}
	@include bp($point_3) {
		margin: -23.5em 0 0em -31.1em;
	}
}

.about__col_img,
.about__cover_img {
	@include contain_img;
}

.about__title {
	@include h2;
	font-weight: 600;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.about__list {
	counter-reset: section;
}

.about__list_item {
	@include text_l;

	position: relative;
	padding-left: 4.5rem;

	&:after {
		@include flex_block(row, wrap, center, center, center);

		position: absolute;
		top: -0.3rem;
		left: 0;
		z-index: 1;

		width: 3rem;
		height: 3rem;

		background-color: $red;
		color: $white;
		font-size: 1.5rem;
		font-weight: 700;
		border-radius: 50%;
		counter-increment: section;
		content: counter(section);
	}

	&:not(:last-child) {
		margin-bottom: 2.5rem;
	}
}

.about__info {
	position: relative;
	z-index: 3;
}
