.go_curse__bg_img_w {
	position: absolute;

	bottom: 0;
	left: 0;

	width: 100%;
	height: 84%;
}

.go_curse__in {
	position: relative;
	z-index: 1;
}

.go_curse__row {
	@include flex_block(row, wrap, flex-start, center, center);
}

.go_curse__col {
	&.go_curse__col--img_mod {
		@include bp($point_4 - 1) {
			display: none;
		}
	}

	@include bp($point_4, min) {
		width: 50%;
	}

	@include bp($point_4 - 1) {
		width: 100%;
	}
}

.go_curse__info {
	max-width: 45rem;
}

.go_curse__bg_img {
	@include cover_img;
	object-position: bottom bottom;
}

.go_curse__btn:not(:hover) {
	.btn_icon {
		color: $red;
	}
}

.go_curse__title {
	@include h1;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.go_curse__descr {
	@include text_l;

	&:not(:last-child) {
		margin-bottom: 5rem;
	}
}

.go_curse__img_w {
	display: block;

	margin-bottom: calc(-1 * var(--gl-vr-indent));

	@include bp($point_2, min) {
		width: 100%;
		height: 100%;
	}
	@include bp($point_3, $point_4) {
		position: absolute;
		right: 0;
		bottom: 0;

		width: 40vw;
		height: 34vw;
	}

	@include bp($point_4 - 1) {
		display: none;
	}
}

.go_curse__img {
	@include contain_img;
}
