.heading {
	@include flex_block(row, wrap, flex-start, center, center);

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 8rem;
		}
		@include bp($point_3) {
			margin-bottom: 2rem;
		}
	}
}

.heading__label_w {
	@include bp($point_2, min) {
		margin-right: 4.3rem;
	}

	@include bp($point_3) {
		@include flex_block(row, wrap, flex-start, center, center);
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.heading__label {
	@include flex_block(row, nowrap, flex-start, center, center);

	flex: none;
	height: 4rem;
	padding: 0 1.5rem;

	text-transform: 700;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 4rem;
	background-color: $red;
	color: $white;
	border-radius: 2rem;
}

.heading__label_icon {
	width: 1.2rem;
	height: 1.6rem;

	margin-right: 0.8rem;
}

.heading__title {
	@include h2;

	font-weight: 600;

	@include bp($point_2, min) {
		margin-right: 2rem;
	}
	@include bp($point_3) {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.heading__link {
	@include flex_block(row, nowrap, center, center, center);
	margin-left: auto;

	color: $red;
	font-size: 1.5rem;
	font-weight: 600;
	transition: color ease 0.3s, transform ease 0.3s;

	&:hover {
		text-decoration: none;
		color: darken($red, 15%);
	}

	.heading--color_mod & {
		color: $blue;
	}
}

.heading__link_icon {
	display: block;

	width: 1.6rem;
	height: 0.8rem;
	margin-left: 0.5rem;
	color: inherit;
	transition: transform ease 0.3s;

	.heading__link:hover & {
		transform: translateX(0.4rem);
	}
}
