.menu_catalog {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: $page_width;
	margin: 0 auto;

	color: $white;
	background-color: $black_2;
	transition: opacity ease 0.3s;

	opacity: 0;
	pointer-events: none;

	&.menu_catalog--active_state {
		opacity: 1;
		pointer-events: auto;
	}
}

.menu_catalog__list {
	padding: 2rem 0;
	max-width: 34rem;
	width: 100%;

	border-right: 1px solid rgba($gray, 0.1);

	.mobile_menu & {
		max-width: 100%;
		@include flex_block(column, wrap, center, center, center);
		// background-color: $black_2;
		text-align: center;
	}
}

.menu_catalog__item {
	// @include flex_block(row, wrap, center, center, center);
}

.menu_catalog__item_btn {
	display: grid;
	grid-template-columns: 1fr min-content;
	padding: 2rem 2rem 2rem 4rem;
	width: 100%;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}

	.mobile_menu & {
		@include flex_block(row, wrap, center, center, center);

		color: $black_2;
		padding: 0;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}

.menu_catalog__item_title {
	display: block;
	font-size: 1.5rem;
	font-weight: 700;
	color: $white;
	text-align: left;
	transition: color ease 0.3s;
	padding-right: 1rem;

	.menu_catalog__item_btn:hover & {
		color: $red;
	}

	.mobile_menu & {
		color: $black_2;
	}
}

.menu_catalog__item_icon {
	display: block;
	flex: none;

	width: 1.6rem;
	height: 1.6rem;

	transition: color ease 0.3s;
	color: $white;

	.menu_catalog__item_btn:hover & {
		color: $red;
	}

	.mobile_menu & {
		color: $black_2;
		margin-left: 0;
	}
}

//
//
// sub menu
//
//

.menu_catalog__sub {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 33.8rem;
	height: 46rem;
	width: calc(100% - 34rem);
	overflow: hidden;

	opacity: 0;
	pointer-events: none;

	.menu_catalog__item:hover & {
		opacity: 1;
		pointer-events: all;
	}

	.mobile_menu & {
		position: static;
		margin: 0;
		width: auto;
		opacity: 1;
		pointer-events: all;
		height: auto;
	}
}

.menu_catalog__sub_w {
	padding: 4rem 2rem 4rem 4rem;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	transition: opacity ease 0.3s;

	@include flex_block(row, nowrap, flex-start);

	.mobile_menu & {
		display: block;
		padding: 0;
	}

	&.menu_catalog--active_state {
		opacity: 1;
		pointer-events: auto;
	}

	&::-webkit-scrollbar {
		width: 0.4rem;
		border-radius: 0.6rem;
	}

	&::-webkit-scrollbar-track {
		background-color: $gray;
		border-radius: 0.6rem;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $red;
		border-radius: 0.6rem;
	}
}

.menu_catalog__sub_list_w {
	&.menu_catalog__sub_list_w--column_mod {
		padding-right: 5rem;
	}

	.mobile_menu & {
		padding-right: 0;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}

.menu_catalog__sub_list {
	width: 100%;
	column-count: 2;
	column-gap: 5rem;

	.menu_catalog__sub_list_w--column_mod & {
		column-count: 1;
	}

	.mobile_menu & {
		column-count: 1;
	}
}

.menu_catalog__sub_item {
	&:not(:last-child) {
		margin-bottom: 4rem;
	}
}

.menu_catalog__sub_title {
	display: block;
	font-size: 1.5rem;
	font-weight: 500;
	color: $white;
	transition: color ease 0.3s;

	&:hover {
		text-decoration: none;
		color: $red;
	}

	.menu_catalog__sub_list--sub_mod & {
		text-transform: uppercase;
	}

	.mobile_menu & {
		color: $black_2;

		&:hover {
			color: $red;
		}
	}
}

.menu_catalog__sub_category_list {
	margin-top: 2rem;
}

.menu_catalog__sub_category_item {
	position: relative;
	padding-left: 1.5rem;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&:after {
		position: absolute;
		top: 4px;
		left: 0;
		border-radius: 50%;
		width: 4px;
		height: 4px;
		background-color: $white;
		content: '';
	}

	.mobile_menu &:after {
		background-color: $black_2;
		display: none;
	}
}

.menu_catalog__sub_category_link {
	color: $white;
	transition: color ease 0.3s;

	&:hover {
		text-decoration: none;
		color: $red;
	}

	.mobile_menu & {
		color: $black_2;

		&:hover {
			color: $red;
		}
	}
}
