// Add this file to path: src/scss/components/universal

.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: z-index(popup);

	display: flex;
	align-content: stretch;
	width: 100%;
	height: 100%;

	overflow-x: hidden;
	overflow-y: auto;

	padding: 2rem var(--gl-indent);

	background-color: rgba($black, 0.7);
	transition: opacity 0.3s ease;
	will-change: opacity;

	&.popup--req_mod {
		color: $white;
	}

	&:not(.popup--open_state) {
		opacity: 0;
		pointer-events: none;
	}

	&.popup--open_state {
		opacity: 1;
		pointer-events: initial;
	}
}

.popup__in {
	position: relative;

	max-width: 50rem;
	width: 100%;
	margin: auto;

	background-color: $white;
	border-radius: 3rem;
	box-shadow: 0 0.4rem 1.5rem 0 rgba(0, 0, 0, 0.05);

	.popup--req_mod & {
		max-width: 95.4rem;
		background-color: $black_2;

		@include bp($point_2, min) {
			max-width: 95.4rem;
		}
		@include bp($point_3) {
			max-width: 50rem;
		}
	}

	@include bp($point_2, min) {
		padding: 8rem 5rem;
	}
	@include bp($point_3) {
		padding: 9rem 2rem 4rem;
	}
}

.popup__decor_w {
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	height: 100%;
	width: 54rem;
	border-radius: 3rem;
	pointer-events: none;
}

.popup__decor {
	position: absolute;
	right: 0;
	top: 50%;
	width: 54rem;
	height: 54rem;
	transform: translate(38%, -50%);
	opacity: 0.7;
	background: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0) 100%);
	mix-blend-mode: lighten;
}

.popup_close {
	position: absolute;

	z-index: 5;

	width: 3.4rem;
	height: 3.4rem;
	padding: 1rem;

	transition: background-color 0.3s ease;
	cursor: pointer;
	background-color: $gray_2;
	border-radius: 50%;

	@include bp($point_4, min) {
		top: 0;
		right: -4.4rem;
	}
	@include bp($point_4 - 1) {
		top: 2rem;
		right: 2rem;
	}

	&:hover,
	&:focus {
		background-color: $red;

		&::before,
		&::after {
			background-color: $white;
		}
	}

	&::before,
	&::after {
		position: absolute;
		top: 1.6rem;
		left: 0.5rem;

		height: 3px;
		width: 2.4rem;

		content: '';
		background-color: #9b9b9b;
		transition: background-color ease 0.3s;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.popup__content {
	max-width: 38rem;
	width: 100%;
	margin: 0 auto;

	.popup--req_mod & {
		max-width: 78.6rem;
	}
}

.popup__content_title {
	font-weight: 400;
	text-align: center;
	font-size: 2.1rem;
	color: $black;

	.popup--req_mod & {
		color: $white;
	}

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 4rem;
		}
		@include bp($point_3) {
			margin-bottom: 3rem;
		}
	}
}

.popup__content_form_input_list {
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.popup__content_form_item {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.popup__content_link {
	display: block;
	color: $red;
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-underline-offset: 0.5rem;

	&:not(:last-child) {
		margin-bottom: 2.5rem;
	}
}

.popup__content_form_btn_w {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&.popup__content_form_btn_w--center_mod {
		@include flex_block(row, wrap, center, center, center);
	}
}

.popup__content_descr {
	font-size: 1.5rem;
	color: $black;
	font-weight: 500;
	text-align: center;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.popup__req_rights {
	max-width: 45.8rem;
	margin: 0 auto;
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
	color: $gray_2;
}

.popup__req_form_w {
	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 5rem;
		}
		@include bp($point_3) {
			margin-bottom: 3rem;
		}
	}
}

.popup__req_form_in {
	@include flex_block(row, wrap, center, center, center);

	margin: 0 -2rem -2rem 0;
}

.popup__req_form_item {
	padding: 0 2rem 2rem 0;

	@include bp($point_2, min) {
		min-width: 24.6rem;
	}
	@include bp($point_3) {
		min-width: 100%;
	}
}
