.preview__in {
	position: relative;
}

.preview__heading {
	@include flex_block(row, wrap, flex-start, center, center);

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 8rem;
		}
		@include bp($point_3) {
			margin-bottom: 2rem;
		}
	}
}

.preview__label_w {
	@include bp($point_2, min) {
		margin-right: 4.3rem;
	}

	@include bp($point_3) {
		@include flex_block(row, wrap, flex-start, center, center);
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.preview__label {
	@include flex_block(row, nowrap, flex-start, center, center);

	flex: none;
	height: 4rem;
	padding: 0 1.5rem;

	text-transform: 700;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 4rem;
	background-color: $red;
	color: $white;
	border-radius: 2rem;
}

.preview__label_icon {
	width: 1.2rem;
	height: 1.6rem;

	margin-right: 0.8rem;
}

.preview__title {
	@include h2;

	font-weight: 600;

	@include bp($point_2, min) {
		margin-right: 2rem;
	}
	@include bp($point_3) {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.preview__link {
	@include flex_block(row, nowrap, center, center, center);
	margin-left: auto;

	color: $red;
	font-size: 1.5rem;
	font-weight: 600;
	transition: color ease 0.3s, transform ease 0.3s;

	&:hover {
		text-decoration: none;
		color: darken($red, 15%);
	}
}

.preview__link_icon {
	display: block;

	width: 1.6rem;
	height: 0.8rem;
	margin-left: 0.5rem;
	color: inherit;
	transition: transform ease 0.3s;

	.preview__link:hover & {
		transform: translateX(0.4rem);
	}
}

.preview__list {
	display: grid;

	@include bp($point_1, min) {
		gap: 3rem;
	}
	@include bp($point_1 - 1) {
		gap: 3rem 1.5rem;
	}

	@include bp($point_2, min) {
		grid-template-columns: repeat(4, 1fr);
	}
	@include bp($point_3, $point_4) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include bp($point_4 - 1, $point_6) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include bp($point_6 - 1) {
		grid-template-columns: 1fr;
	}

	.preview--article_mod & {
		@include bp($point_4, min) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include bp($point_4 - 1, $point_6) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include bp($point_6 - 1) {
			grid-template-columns: 1fr;
		}
	}
}

.preview__slider_nav {
}
