.preview__in {
	position: relative;
}

.preview__list {
	display: grid;

	@include bp($point_1, min) {
		gap: 3rem;
	}
	@include bp($point_1 - 1) {
		gap: 3rem 1.5rem;
	}

	@include bp($point_2, min) {
		grid-template-columns: repeat(4, 1fr);
	}
	@include bp($point_3, $point_4) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include bp($point_4 - 1, $point_6) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include bp($point_6 - 1) {
		grid-template-columns: 1fr;
	}

	.preview--article_mod & {
		@include bp($point_4, min) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include bp($point_4 - 1, $point_6) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include bp($point_6 - 1) {
			grid-template-columns: 1fr;
		}
	}
}

.preview__slider_nav {
}
