.slider_navigation {
	@include flex_block(row, wrap, center, center, center);

	position: absolute;
	top: 50%;
	z-index: 10;

	color: $white;
	background-color: $red;
	border-radius: 50%;
	border: 2px solid $red;

	transition: background-color 0.3s ease, color ease 0.3s, opacity ease 0.3s;
	cursor: pointer;

	&.swiper-button-disabled,
	&.swiper-button-lock {
		opacity: 0;
		pointer-events: none;
	}

	@include bp($point_2, min) {
		padding: 1.7rem;
		width: 6rem;
		height: 6rem;
	}
	@include bp($point_3) {
		padding: 1rem;
		width: 4rem;
		height: 4rem;
	}

	&.slider_navigation--next_mod {
		@include bp($point_2, min) {
			right: -3rem;
		}
		@include bp($point_3) {
			right: -1rem;
		}
	}
	&.slider_navigation--prev_mod {
		transform: rotate(180deg);

		@include bp($point_2, min) {
			left: -3rem;
		}
		@include bp($point_3) {
			left: -1rem;
		}
	}

	@media (hover: hover) {
		&:hover,
		&:focus {
			text-decoration: none;
			background-color: $white;
			color: $red;
		}
	}

	// --------------------------------------------- Mods
	// .some_section & { ... }

	// --------------------------------------------- Mods ###
}
