mixin heading(data)
	.heading(class= data.mod)
		if data.label
			.heading__label_w
				.heading__label
					.heading__label_icon
						+icon('hit', 'icon--size_mod')
					.heading__label_title= data.label
		.heading__title=data.title
		if data.link_title
			a(href="#" class=data.link_mod).heading__link
				span.heading__link_title= data.link_title
				if !data.link_icon
					span.heading__link_icon
						+icon('arrow-right', 'icon--size_mod')