include ./m-card
include ./m-heading

mixin preview(data)
	section.section.preview(class=data.mod)
		.section_in.preview__in
			+heading(data.heading)
			.preview__content
				if data.slider
					.preview__slider_w.js-preview-slider-w
						+slider_navigation('preview__slider_nav')
						.preview__slider.js-preview-slider
							+loop_while(10)
								+card(data.card)
				else
					.preview__list
						+loop_while(data.items)
							.preview__list_item
								+card(data.card)

