include ./m-card
include ./m-card-course
include ./m-heading

mixin preview(data)
	section.section.preview(class=data.mod)
		.section_in.preview__in
			if data.heading
				+heading(data.heading)
			.preview__content
				if data.slider
					.preview__slider_w.js-preview-slider-w
						+slider_navigation('preview__slider_nav')
						.preview__slider.js-preview-slider
							+loop_while(10)
								+card(data.card)
				else
					.preview__list
						+loop_while(data.items)
							.preview__list_item
								if data.card
									+card(data.card)
								if data.card_course
									+card_course(data.card_course)

			if data.pagination
				.preview__pagination
					+pagination({
						pages: 5,
						arrows: true
					})

