extends ../layout/layout

block vars
	//- include ../templates/project-vars
	include ../templates/mixins/m-heading
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index', template_name: 'index'}

block content_block
	-
		mod = 'crumbs_section--block_mod'
	include ../blocks/crumb-section

	section.section.contacts
		.section_in.contacts__in
			+heading({
				title: 'Оформление заказа',
			})

	-
		list_1 = [
			{
				title: 'Автосканер Icom Next BMW + ноутбук с ПО',
				descr: '45 000 ₽'
			},
			{
				title: 'Автосканер Icom ',
				descr: '45 000 ₽'
			},

		],

		list = [
			'Самовывоз: <span>Москва, ул. Твардовского, 10<span>',
			'СДЭК',
			'Почта России',
			'Яндекс, курьером',
			'Авито Доставка',
		]

	section.section.checkout
		.section_in.checkout__in
			.checkout__list
				form(action="", method="post")

					.checkout__item_item
						.checkout__item_item_in
							.cabinet_tab_2__item
								.cabinet_tab_2__item_title Заказ №00001 от 25.08.23
								ul.cabinet_tab_2__list
									each item in list_1
										li.cabinet_tab_2__list_item
											.cabinet_tab_2__title= item.title
											.cabinet_tab_2__descr= item.descr
								.cabinet_tab_2__item_total_w
									.cabinet_tab_2__item_total_total Итог:
									.cabinet_tab_2__item_total_total 90 000 ₽

					.checkout__item_item
						.checkout__item_item_in
							.checkout__item__title Способ доставки

							ul.checkout__item__delivery
								each item, index in list
									li.checkout__item__delivery_item
										+form_radio({
											checked: index == 1 ? true : false,
											label: item,
											name: 'delivery_input',
										})

					.checkout__item_item
						.checkout__item_item_in
							.checkout__item__title Данные получателя
							ul.checkout__item_recipient_list
								li.checkout__item_recipient_item
									+form_input({
										id: 'recipient_name',
										placeholder: 'ФИО*',
										required: true,
									})
								li.checkout__item_recipient_item
									+form_input({
										type: 'tel',
										id: 'recipient_phone',
										placeholder: 'Номер телефона*',
										required: true,
									})
								li.checkout__item_recipient_item
									+form_input({
										type: 'text',
										id: 'recipient_delivery',
										placeholder: 'Точный адрес доставки*',
									})
										span.checkout__item_recipient_input_label Город, улица, дом, квартира


					.checkout__item_item
						.checkout__item_item_in
							.checkout__item__title Способ оплаты
							ul.checkout__item_payment_list
								li.checkout__item_payment_item
									input.checkout__payment_input(id='checkout__payment_delivery' type="radio", name="item_payment")
									label.checkout__payment_card(for='checkout__payment_delivery')
										.checkout__payment_card_in
											.checkout__payment_card_icon
												+icon('payment', 'icon--size_mod')

											.checkout__item_payment_info
												.checkout__item_payment_title Оплата онлайн
												.checkout__item_payment_descr Переход в безопасный платежный шлюз Тинькофф Банка

								li.checkout__item_payment_item
									input.checkout__payment_input(id='checkout__payment_home' type="radio", name="item_payment" checked)
									label.checkout__payment_card(for='checkout__payment_home')
										.checkout__payment_card_in
											.checkout__payment_card_icon
												+icon('store', 'icon--size_mod')

											.checkout__item_payment_info
												.checkout__item_payment_title При получении
												.checkout__item_payment_descr Можно оплатить наличными или картой в нашем магазине
