extends ../layout/layout

block vars
	//- include ../templates/project-vars
	include ../templates/mixins/m-heading
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index', template_name: 'index'}

block content_block
	-
		mod = 'crumbs_section--block_mod'
	include ../blocks/crumb-section

	section.section.guarantees
		.section_in.guarantees__in
			+heading({
				title: 'Гарантии',
			})

			.guarantees__row
				.guarantees__col.guarantees__col--info_mod
					.guarantees__info
						.article_content
							h5 Lorem ipsum dolor sit amet consectetur.
							p Ornare volutpat viverra suscipit imperdiet. Enim eu a amet pretium molestie leo amet cras. Fusce arcu tellus ut eget risus arcu massa. Dictum blandit sit hendrerit placerat phasellus lorem tellus sit vel. Fusce cursus nulla hac pellentesque lorem ultricies. Condimentum ut orci quam nullam. Nec enim mauris et id feugiat purus turpis eget dolor. Pellentesque rhoncus sed fames nunc tempus vel nec. Scelerisque quisque enim sapien viverra aliquam elementum sed feugiat eget. Quis dui rutrum nibh viverra arcu. Scelerisque ut gravida est mattis mauris. Facilisis porttitor enim volutpat elementum.
							p Lorem ipsum dolor sit amet consectetur. Ornare volutpat viverra suscipit imperdiet. Enim eu a amet pretium molestie leo amet cras. Fusce arcu tellus ut eget risus arcu massa. Dictum blandit sit hendrerit placerat phasellus lorem tellus sit vel. Fusce cursus nulla hac pellentesque lorem ultricies. Condimentum ut orci quam nullam. Nec enim mauris et id feugiat purus turpis eget dolor. Pellentesque rhoncus sed fames nunc tempus vel nec. Scelerisque quisque enim sapien viverra aliquam elementum sed feugiat eget. Quis dui rutrum nibh viverra arcu. Scelerisque ut gravida est mattis mauris. Facilisis porttitor enim volutpat elementum.

							h5 Lorem ipsum dolor sit amet consectetur.
							p Ornare volutpat viverra suscipit imperdiet. Enim eu a amet pretium molestie leo amet cras. Fusce arcu tellus ut eget risus arcu massa. Dictum blandit sit hendrerit placerat phasellus lorem tellus sit vel. Fusce cursus nulla hac pellentesque lorem ultricies. Condimentum ut orci quam nullam. Nec enim mauris et id feugiat purus turpis eget dolor. Pellentesque rhoncus sed fames nunc tempus vel nec. Scelerisque quisque enim sapien viverra aliquam elementum sed feugiat eget. Quis dui rutrum nibh viverra arcu. Scelerisque ut gravida est mattis mauris. Facilisis porttitor enim volutpat elementum.
							p Lorem ipsum dolor sit amet consectetur. Ornare volutpat viverra suscipit imperdiet. Enim eu a amet pretium molestie leo amet cras. Fusce arcu tellus ut eget risus arcu massa. Dictum blandit sit hendrerit placerat phasellus lorem tellus sit vel. Fusce cursus nulla hac pellentesque lorem ultricies. Condimentum ut orci quam nullam. Nec enim mauris et id feugiat purus turpis eget dolor. Pellentesque rhoncus sed fames nunc tempus vel nec. Scelerisque quisque enim sapien viverra aliquam elementum sed feugiat eget. Quis dui rutrum nibh viverra arcu. Scelerisque ut gravida est mattis mauris. Facilisis porttitor enim volutpat elementum.

				.guarantees__col.guarantees__col--img_mod
					+picture({
						img: `mid-cover.jpg`,
						class: 'guarantees__img_w',
						img_class: 'guarantees__img',
						alt: 'some image',
					})

	include ../blocks/application
