extends ../layout/layout

block vars
	//- include ../templates/project-vars
	include ../templates/mixins/m-preview
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index', template_name: 'index'}

block content_block
	-
		mod = 'crumbs_section--block_mod'
	include ../blocks/crumb-section
	include ../blocks/search-bar

	+preview({
		heading: {
			label: 'ХИТЫ ПРОДАЖ',
			title: 'Оборудование для чип-тюнинга',
			link_title: 'Перейти в каталог',
		},
		items: 10,
		slider: true,
		card: {
			mod: 'card--hit_mod',
			label: true,
			img: 'card.jpg',
			title: 'Mercedes Star Diagnosis C4 + ноутбук с ПО',
			price: '59 990 ₽',
		}
	})
