@mixin h1 {
	font-size: 4.2rem;
}

@mixin h2 {
	font-size: 3rem;
}

@mixin h3 {
	font-size: 2.1rem;
}

@mixin h4 {
	font-size: 1.6rem;
}

@mixin h5 {
	font-size: 1.6rem;
}

@mixin h6 {
	font-size: 2rem;
}

@mixin text_l {
	font-size: 2.1rem;
}

@mixin text_s {
	font-size: 1.5rem;
}
// offsets

@mixin title_offset {
	margin-bottom: 2rem;
}
