.btn_1 {
	@include btn_style_red;
	@include btn_size_normal;

	.btn_icon:not(:last-child) {
		margin-right: 1rem;
	}

	.btn_icon:not(:first-child) {
		margin-left: 1rem;
	}

	.btn_icon {
		width: 2.6rem;
		height: 2.6rem;
	}

	&.basket__total_btn .btn_icon {
		width: 1.6rem;
		height: 1.6rem;
	}

	.search_bar__search_btn & {
		height: 6rem;
		line-height: 6rem;
		border-radius: 3rem;
	}

	.course_info & {
		@include bp($point_2, min) {
			width: 100%;
		}
	}

	&.basket__total_btn {
		border-radius: 0;
		height: 6.5rem;
		line-height: 6.5rem;
	}
}

.btn_2 {
	@include btn_style_black;
	@include btn_size_normal;

	.btn_icon:not(:last-child) {
		margin-right: 1rem;
	}

	.btn_icon:not(:first-child) {
		margin-left: 1rem;
	}

	.btn_icon {
		width: 2.6rem;
		height: 2.6rem;
	}

	.course_info & {
		@include bp($point_2, min) {
			width: 100%;
		}
	}

	.prod_tab_1__list_btn & {
		color: $black_2;
		border: 1px solid $black_2;

		.btn_icon {
			color: $red;
		}

		&:hover {
			color: $white;

			.btn_icon {
				color: $white;
			}
		}
	}
}

.btn_3 {
	@include btn_style_border_red;
	@include btn_size_normal;

	// @include btn_style_black;
	// @include btn_size_normal;

	.btn_icon:not(:last-child) {
		margin-right: 1rem;
	}

	.btn_icon:not(:first-child) {
		margin-left: 1rem;
	}

	.btn_icon {
		width: 2.4rem;
		height: 2.4rem;
	}
}

.btn_4 {
	@include btn_style_red;
	@include btn_size_l;

	.cabinet__form_btn_w & {
		min-width: 13rem;
	}

	.popup & {
		width: 100%;
	}
}

.btn_5 {
	@include btn_style_border_gray;
	@include btn_size_l;

	.cabinet__form_btn_w & {
		min-width: 11.4rem;
	}

	.popup & {
		width: 100%;
	}

	.contacts & {
		border-color: $black_2;
		color: $black_2;

		&:hover {
			color: $white;
			border-color: transparent;
		}
	}
}

.btn_6 {
	@include btn_style_red_gradient;
	@include btn_size_l;

	.popup &:not(.popup__content_form_btn_recovery) {
		width: 100%;
	}
}
