@mixin form_el_radio {
	position: relative;

	padding-left: 4rem;

	font-size: 1.5rem;
	font-weight: 700;
	color: $black_2;
	cursor: pointer;

	span {
		font-weight: 400;
	}

	&:before {
		content: '';
		position: absolute;
		top: -3px;
		left: 0;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 100%;
		border: 1px solid $black_2;
		cursor: pointer;
	}

	&:after {
		@include transition_opacity;

		content: '';
		position: absolute;
		top: 0.2rem;
		left: 0.5rem;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 100%;
		background: $red;
		opacity: 0;

		.form_radio__element:checked + & {
			opacity: 1;
		}
	}
}
